<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <h1>New data</h1>
    <!--  NOTE: action will be the route, method will be the HTTP verb-->
    <form action="/greatWebService/" method="POST">
      Filename: <input type="text" name="fileName" /><br />
      <input type="submit" name="" value="Create data" />
    </form>
  </body>
</html>
